html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    margin: 0;
}
#container {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    margin-top: 60px;
    width: 740px;
    height: 100%;
}
header {
    display: flex;
    flex-flow: row nowrap;
    font-size: 46px;
}
#container #currentColorSpan {
    display: flex;
    justify-content: center;
    width: 200px;
}
#container #currentColor {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: brown;
}
#titleSpan {
    flex: auto;
    margin-left: 140px;
}
main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
}
#left {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    min-width: max-content;
    min-height: max-content;
    width: 200px;
    height: 400px;
}
#left button {
    width: 200px;
    height: 75px;
    border-radius: 15%;
    background-color: #577590;
    margin-top: 8px;
}
#left button:hover {
    background-color: #4d908e;
}
#left #gridSize {
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
    height: 60px;
    font-size: 30px;
}
#left #gridSize span {
    justify-self: center;
    align-self: center;
    margin-top: 8px;
}
#left #gridSize input {
    margin-top: 8px;
    width: 100%;
}
#right {
    width: 400px;
    height: 400px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 740px;
    height: 40px;
    font-size: 18px;
    background: #577590;
    border: 2px darkslategrey solid;
}