html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    margin: 0;
}
#container {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    width: 90vw;
    height: 100vh;
}
#left {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 10vh;
    margin-left: 5vw;
    min-width: max-content;
    min-height: max-content;
}
#left #currentColorSpan {
    display: flex;
    justify-content: center;
    width: 75%;
}
#left #currentColor {
    border-radius: 50%;
    width: 15vw;
    height: 15vh;
    margin-bottom: 4px;
    background-color: brown;
}
#left button {
    flex: auto;
    width: 75%;
    height: 10vh;
}
#left #gridSize {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    width: 75%;
    height: 10vh;
    font-size: 4vh;
}
#left #gridSize input {
    width: 100%;
}
#left #gridSize span {
    justify-self: center;
    align-self: center;
}
#right {
    flex: auto;
    font-size: 10vh;
}