html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    margin: 0;
}
#container {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    width: 90vw;
    height: 100vh;
}
#left {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 10vh;
    margin-left: 5vw;
    min-width: max-content;
    min-height: max-content;
}
#left button {
    flex: auto;
    width: 75%;
    height: 10vh;
}
#left div {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    width: 75%;
    height: 10vh;
    font-size: 4vh;
}
#left div input {
    width: 100%;
}
#left div span {
    justify-self: center;
    align-self: center;
}
#right {
    flex: auto;
    font-size: 10vh;
}